// variables
$primary-color: #05291d;
$secondary-color: #fff9eb;
$background-color-primary: #f5ead0;
$background-color-secondary: #aaa56f;

// Global
*, *::before, ::after {
    box-sizing: border-box;
}

body {
   margin: 0; 
   font-family: 'Montserrat', sans-serif;
   color: $primary-color;
   font-size: 16px;
   line-height: 1.7;
}

.container {
   max-width: 1140px;
   padding: 0 20px;
   
}

section {
    padding: 96px 0;
}

// Navigation

.navigation {
    background-color: $background-color-secondary;
    padding: 12px 0;

}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.navigation li {
    display: inline-block;
}

.navigation a:link {
    text-decoration: none;
}

.navigation a:hover {
    background-color: $secondary-color;
}

.navigation ul ul li {
    display: block;
    margin-bottom: 12px;
}

/* variables */
/* $primary-color: #05291d;
$secondary-color: #fff9eb;
$background-color-primary: #f5ead0;
$background-color-secondary: #aaa56f; */


/* main */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* utilities */



/* navbar */

/* header */

/* section */

/* contact form */

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }