// variables
$primary-color: #05291d;
$secondary-color: #fff9eb;
$background-color-primary: #f5ead0;
$background-color-secondary: #aaa56f;
$font-main: 'Montserrat', sans-serif;
$transition: 0.5s;

// Global
*, *::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   font-family: $font-main;
   color: $primary-color;
   background-color: #fff;
   font-size: 16px;
   line-height: 1.7;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 400;
  font-size: 72px;
  color: $secondary-color;
  line-height: 1.2;
  
}

h2 {
  font-size: 48px;
  margin-bottom: 72px;
}

h3 {
  font-size: 24px;
  margin-bottom: 12px;
}

img {
  width: 100%;
}


// Utilities

.button {
  display: block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
}

// Hero section

.hero {
  background-color: $background-color-secondary;
  display: block;
  height: 500px;
  padding: 15px 15%;
}


// Navigation

.navbar {
  background-color: $background-color-secondary;
  height: 70px;
  font-size: 16px;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar a {
  color: $secondary-color;
  padding: 10px 20px;
  margin: 5px;
}

.navbar a:hover {
  border-bottom: $secondary-color 2px solid;

}

// Navigation dropdown

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $background-color-primary;
  min-width: 120px;
  z-index: 1;
}

.dropdown-content a {
  color: $primary-color;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* header */

.hero .content {
  display: flex;

}

.content-inner {
  margin: auto;
  padding-top: 20px;
}

.content-inner span {
  text-transform: uppercase;
  color: $primary-color;
  font-size: 55px;
}

.content-inner span:hover {
  color: $secondary-color;
  transition: $transition;
}

.btn-frame {
  color: $primary-color;
  border-color: $primary-color;
}

.btn-frame:hover {
  background-color: $background-color-primary;
  transition: 0.5s;
}

/* section */

/* contact form */

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: $background-color-primary;
    color: $primary-color;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: $background-color-secondary;
    color: $background-color-primary;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }